<!DOCTYPE html>
<html>
<title>Feira de Rua da Cajazeiras</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
</style>
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-large">
  <a href="#" class="w3-bar-item w3-button w3-red w3-mobile"></i>Feira de Rua da Cajazeiras</a>
  <a href="#local" class="w3-bar-item w3-button w3-mobile">Localização</a>
  <a href="#prod" class="w3-bar-item w3-button w3-mobile">Produtos</a>
  <a href="#feira" class="w3-bar-item w3-button w3-mobile">Feirantes</a>
  <a href="#depoimento" class="w3-bar-item w3-button w3-mobile">Depoimentos</a>
</div>
<!-- Header -->
<header class="w3-display-container w3-content" style="max-width:1000px;">
  <img class="w3-image" src="../images/feira.jpg" alt="a feira" style="min-width:100px" width="1000" height="8	00">
  
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1532px;">

  <div class="w3-padding-32 w3-center w3-margin-top" id="local">
    <h1>Localicação</h1>
        <div class="col-md-8">
        <p class="text-sm-end">R. Tito de Barros, 641 - Cajazeiras, Fortaleza - CE, 60864-300</p>
        <p class="text-sm-end">Funciona as Terças-feiras</p>
        <p class="text-sm-end">Durante a manhã de 06h às 12h</p>
        <p class="text-sm-end">Permanentemente Fechado</p>
      </div>
      
 <div class="w3-row-padding" id="prod">
 <h1>Produtos</h1>

  <div class="w3-row-padding w3-padding-16">
    <div class="w3-third w3-margin-bottom">
      <img src="../images/carnes.png" alt="Norway" style="width:100%">
      <div class="w3-container w3-white">
        <h3>Carne</h3>
        <h6 class="w3-opacity">Preço variável</h6>
        <p>Maminha, fraldinha</p>
        <button class="w3-button w3-block w3-red w3-margin-bottom">Comprar</button>
      </div>
    </div>
    <div class="w3-third w3-margin-bottom">
      <img src="../images/roupas.png" alt="Norway" style="width:100%">
      <div class="w3-container w3-white">
        <h3>Roupas</h3>
        <h6 class="w3-opacity">Preço variável</h6>
        <p>camisetas, shorts</p>
        <button class="w3-button w3-block w3-red w3-margin-bottom">Comprar</button>
      </div>
    </div>
    <div class="w3-third w3-margin-bottom">
      <img src="../images/legumes.png" alt="Norway" style="width:100%">
      <div class="w3-container w3-white">
        <h3>Legumes</h3>
        <h6 class="w3-opacity">Preço variável</h6>
        <p>Tomate, alface</p>
        <button class="w3-button w3-block w3-red w3-margin-bottom">Comprar</button>
      </div>
    </div>
  </div>
  
   <div class="w3-container" id="feira">
 <h1>Feirantes</h1>

  <div class="w3-row-padding w3-padding-16">
    <div class="w3-third w3-margin-bottom">
      <img src="../images/vendedor1.png" alt="Norway" style="width:100%">
      <div class="w3-container w3-white">
        <h3>José Alves</h3>
        <h6 class="w3-opacity">Vendedor de Legumes e Frutas</h6>
        <p>Maça, tomate</p>
      </div>
    </div>
    <div class="w3-third w3-margin-bottom">
      <img src="../images/vendedor2.png" alt="Norway" style="width:100%">
      <div class="w3-container w3-white">
        <h3>Laura Silva</h3>
        <h6 class="w3-opacity">Vendedora de Roupas</h6>
        <p>camisetas, shorts</p>
      </div>
    </div>
    <div class="w3-third w3-margin-bottom">
      <img src="../images/vendedor3.png" alt="Norway" style="width:100%">
      <div class="w3-container w3-white">
        <h3>Rita Moura</h3>
        <h6 class="w3-opacity">Vendedora de Carnes</h6>
        <p>Maminha, Patinho</p>
      </div>
    </div>
  </div>

 <div class="w3-container" id="depoimento">
    <div class="w3-padding-32 w3-center w3-margin-top">
      <h1>Depoimento</h1>
     <div class="card border-light mt-2 mb-2">
        <div class="card-header">
          <h4 class="text-sm-end">"Apesar de pequena, mais tem de tudo um pouquinho. Vale apena"
          </h4>
        </div>
        <div class="card-body text-sm-end">
          <p>Roberto Brasil</p>
        </div>
      </div>
      <div class="card border-light mt-2 mb-2">
        <div class="card-header">
          <h4 class="text-sm-end">"Feira bem completa e com preços acessíveis"
          </h4>
        </div>
        <div class="card-body text-sm-end">
          <p>Nara Souza</p>
        </div>
      </div>
      <div class="card border-light mt-2 mb-2">
        <div class="card-header">
          <h4 class="text-sm-end">"Produtos frutas e legumes de ótima qualidade"
          </h4>
        </div>
        <div class="card-body text-sm-end">
          <p>Diego Mendes</p>
        </div>
      </div>
    </div>
  </div>
    <p>Nós aceitamos: <i class="fa fa-credit-card w3-large"></i> <i class="fa fa-cc-mastercard w3-large"></i> <i class="fa fa-cc-amex w3-large"></i> <i class="fa fa-cc-cc-visa w3-large"></i><i class="fa fa-cc-paypal w3-large"></i></p>
    </div>

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-padding-32 w3-red w3-center w3-margin-top">
  <h5>Copyright 2021. All rights reserved.</h5>
  <a href="https://www.uni7.edu.br/" target="_blank" class="w3-hover-text-black">Uni7</a>
  <br>
  <a href="https://www.google.com.br/maps/place/Feira+De+Rua+Das+Cajazeiras/@-3.7990093,-38.5082399,15z/data=!4m14!1m8!3m7!1s0x0:0x5bb16460fe488a70!2sFeira+De+Rua+Das+Cajazeiras!8m2!3d-3.7990093!4d-38.5082399!9m1!1b1!3m4!1s0x0:0x5bb16460fe488a70!8m2!3d-3.7990093!4d-38.5082399" target="_blank" class="w3-hover-text-black">Feira de Rua das Cajazeiras</a>
</footer>

</body>
</html>
